// main css
@import 'helpers/normalize';
@import 'helpers/fontface';
@import 'helpers/variables';
@import 'layout/header';
@import 'layout/aside';
@import 'layout/footer';
@import 'pages/homepage';
@import 'pages/place-list';
@import 'pages/place-detail';

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #f9f9f9;
    color: $dark-grey;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

*, *:before, *:after {
	box-sizing: border-box;
}

a {
    text-decoration: none;
    color: $grey;
}
a:hover {
    color: $grey;
}

main {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	align-items: stretch;
	justify-content: flex-start;
	height: auto;

    &.toggle,
    &.detail-page {
        height: auto;
    }
    @include respond-to('mobile') {
        height: 100vh;
    }
}

.content {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    align-self: center;
    max-width: 1280px;
    margin: 40px auto 60px;

    &.detail {
        margin-top: 20px;
    }
}

.err-msg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-family: 'Gotham Book';
    font-weight: normal;
    @include font-size(25,35);
    color: $err-msg-txt;
}

.price {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    &-1 {
        width: 15px;
        height: 3px;
        background-color: $price-1;
    }
    &-2 {
        width: 15px;
        height: 3px;
        background-color: $price-2;
    }
    &-3 {
        width: 15px;
        height: 3px;
        background-color: $price-3;
    }
    &-4 {
        width: 15px;
        height: 3px;
        background-color: $price-4;
    }
}