@import 'helpers/variables';

@font-face {
	font-family: 'Gotham Extra';
	src: url('/assets/font/Gotham-ExtraLight.eot');
	src: url('/assets/font/Gotham-ExtraLight.eot?#iefix') format('embedded-opentype'),
		url('/assets/font/Gotham-ExtraLight.woff2') format('woff2'),
		url('/assets/font/Gotham-ExtraLight.woff') format('woff'),
		url('/assets/font/Gotham-ExtraLight.ttf') format('truetype'),
		url('/assets/font/Gotham-ExtraLight.svg#Gotham-ExtraLight') format('svg');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham';
	src: url('/assets/font/Gotham-Medium.eot');
	src: url('/assets/font/Gotham-Medium.eot?#iefix') format('embedded-opentype'),
		url('/assets/font/Gotham-Medium.woff2') format('woff2'),
		url('/assets/font/Gotham-Medium.woff') format('woff'),
		url('/assets/font/Gotham-Medium.ttf') format('truetype'),
		url('/assets/font/Gotham-Medium.svg#Gotham-Medium') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham Book';
	src: url('/assets/font/Gotham-Book.eot');
	src: url('/assets/font/Gotham-Book.eot?#iefix') format('embedded-opentype'),
		url('/assets/font/Gotham-Book.woff2') format('woff2'),
		url('/assets/font/Gotham-Book.woff') format('woff'),
		url('/assets/font/Gotham-Book.ttf') format('truetype'),
		url('/assets/font/Gotham-Book.svg#Gotham-Book') format('svg');
	font-weight: normal;
	font-style: normal;
}
